boto3==1.28.16
botocore==1.31.85
certifi==2024.7.4
cfgv==3.4.0
charset-normalizer==3.3.2
distlib==0.3.8
filelock==3.15.4
identify==2.6.0
idna==3.7
jmespath==1.0.1
nodeenv==1.9.1
numpy==2.0.1
pandas==2.2.2
platformdirs==4.2.2
pre-commit==3.8.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
requests==2.31.0
s3transfer==0.6.2
six==1.16.0
tzdata==2024.1
urllib3==2.0.7
virtualenv==20.26.3
